<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrid's Arm</title>
</head>
<body>
    <h1>Arm QR</h1>
    <p>Welcome to the QR code on my arm!</p>

    <ul>
        <li><a href="https://astrid.tech">astrid.tech</a></li>
        <li><a href="https://github.com/astralbijection">Github</a></li>
    </ul>
</body>
</html>